In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:/Users/admin/Desktop/Big_data/Pandas/seoul_house_price.csv')

In [3]:
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [4]:
#데이터 잘 들어왔는 지 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4505 non-null   object
 1   규모구분     4505 non-null   object
 2   연도       4505 non-null   int64
 3   월        4505 non-null   int64
 4   분양가격(㎡)  4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

In [5]:
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

<h3>1. 분양가격 column 바꾸기

In [6]:
df = df.rename(columns = {'분양가격(㎡)': '분양가격'})
df.head()

  지역명               규모구분    연도   월  분양가격
0  서울                 전체  2015  10  5841
1  서울         전용면적 60㎡이하  2015  10  5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4  서울        전용면적 102㎡초과  2015  10  5879

<h3>2. 데이터 통계치

In [7]:
#통계치 확인
df.describe()

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

<h3> 3. 분양가격 타입: object -> int로 변환하기

<h4> 현재 연도, 월만 int/float 형태지만 분양가격도 고려해야함.
<h4>df.info()에서 '분양가격'은 object임을 확인할수 있음.
<h4>'분양가격' 타입을 int/float로 바꿔줘야하는데,
<h4>고려할 사항: NaN값에 값을 넣어줘야함.

In [8]:
#에러 문구 확인
df['분양가격'].astype(int)

ValueError: invalid literal for int() with base 10: '  '

In [9]:
#'분양가격'의 ' ' (2칸)데이터 확인
df.loc[df['분양가격'] == '  ']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [10]:
# df[].str.strip(): 빈 공간 제거 method 
df['분양가격'] = df['분양가격'].str.strip()

In [12]:
#'분양가격'의 '' (0칸)
df.loc[df['분양가격'] == '']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [13]:
#빈 공간에 0 넣기
df.loc[df['분양가격'] == '', '분양가격'] = 0

In [14]:
#NaN값 채우기
df['분양가격'] = df['분양가격'].fillna(0)

In [15]:
df['분양가격'].astype(int)

ValueError: invalid literal for int() with base 10: '6,657'

In [16]:
#형 변환하려고 했지만, '6,657'이 object type이어서 int로 바꾸기 불가능
df.loc[df['분양가격'] == '6,657']

     지역명 규모구분    연도   월   분양가격
2125  서울   전체  2017  11  6,657

In [17]:
# '6,657'의 ',' 없애는 작업
df['분양가격'] = df['분양가격'].str.replace(',', '')

In [18]:
df['분양가격'].astype(int)

ValueError: cannot convert float NaN to integer

In [19]:
#NaN 값 제거하기
df['분양가격'] = df['분양가격'].fillna(0)
df['분양가격'].astype(int)

ValueError: invalid literal for int() with base 10: '-'

In [20]:
# '-' 없애는 작업
df['분양가격'] = df['분양가격'].str.replace('-', '')

In [21]:
df['분양가격'].astype(int)

ValueError: cannot convert float NaN to integer

In [22]:
df.loc[df['분양가격']=='', '분양가격'] = 0
df['분양가격'] = df['분양가격'].astype(int)

ValueError: cannot convert float NaN to integer

In [23]:
df['분양가격'] = df['분양가격'].fillna(0)
df['분양가격'] = df['분양가격'].astype(int)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int32
dtypes: int32(1), int64(2), object(2)
memory usage: 158.5+ KB

<h3> 4. 불필요한 '전용면적' 제거

In [25]:
df['규모구분'] = df['규모구분'].str.replace('전용면적', '')
df['규모구분'].value_counts()

 102㎡초과          901
 60㎡초과 85㎡이하     901
 85㎡초과 102㎡이하    901
전체               901
 60㎡이하           901
Name: 규모구분, dtype: int64

<h3> 5. 지역별 분양가격 확인

In [33]:
df.groupby('지역명')['분양가격'].mean()
df

     지역명           규모구분    연도   월  분양가격
0     서울             전체  2015  10  5841
1     서울          60㎡이하  2015  10  5652
2     서울    60㎡초과 85㎡이하  2015  10  5882
3     서울   85㎡초과 102㎡이하  2015  10  5721
4     서울         102㎡초과  2015  10  5879
...   ..            ...   ...  ..   ...
4498  경남   85㎡초과 102㎡이하  2020   2  3247
4500  제주             전체  2020   2  3955
4501  제주          60㎡이하  2020   2  4039
4502  제주    60㎡초과 85㎡이하  2020   2  3962
4504  제주         102㎡초과  2020   2  3601

[4185 rows x 5 columns]

<h3> 6. 분양가격 > 100인 행 제거

In [34]:
df.loc[df['분양가격']<100]

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격]
Index: []

#### 특정 조건 만족하는 행을 제거할 때는  

1. index를 list로 가져와서  

2. drop으로 행을 제거한다.

In [35]:
idx = df.loc[df['분양가격']<100].index

In [36]:
df= df.drop(idx, axis=0)

In [38]:
df.groupby('지역명')['분양가격'].mean()

지역명
강원    2412.642023
경기    4072.667925
경남    2814.376923
경북    2547.486166
광주    3049.028169
대구    3663.335938
대전    3128.433333
부산    3679.920755
서울    7225.762264
세종    2984.004000
울산    3043.503145
인천    3633.275862
전남    2304.969349
전북    2348.648855
제주    3432.795652
충남    2501.604743
충북    2316.871698
Name: 분양가격, dtype: float64

In [39]:
df.groupby('지역명')['분양가격'].count()

지역명
강원    257
경기    265
경남    260
경북    253
광주    213
대구    256
대전    210
부산    265
서울    265
세종    250
울산    159
인천    261
전남    261
전북    262
제주    230
충남    253
충북    265
Name: 분양가격, dtype: int64

In [41]:
df.groupby('지역명')['분양가격'].max()

지역명
강원     3906
경기     5670
경남     4303
경북     3457
광주     4881
대구     5158
대전     4877
부산     4623
서울    13835
세종     3931
울산     3594
인천     5188
전남     3053
전북     3052
제주     5462
충남     3201
충북     2855
Name: 분양가격, dtype: int32

In [42]:
df.groupby('연도')['분양가격'].mean()

연도
2015    2788.707819
2016    2934.250000
2017    3143.311795
2018    3326.951034
2019    3693.422149
2020    3853.960526
Name: 분양가격, dtype: float64

### dataframe 테이블 pivot

In [43]:
pd.pivot_table(df, index='연도', columns='규모구분', values='분양가격')

규모구분       102㎡초과        60㎡이하   60㎡초과 85㎡이하   85㎡초과 102㎡이하           전체
연도
2015  2980.977778  2712.583333   2694.490196    2884.395833  2694.862745
2016  3148.099476  2848.144279   2816.965686    3067.380435  2816.073529
2017  3427.649746  3112.538071   2981.950980    3204.075145  3008.279412
2018  3468.355932  3286.184783   3227.458128    3467.184211  3235.098522
2019  4039.854839  3486.910112   3538.545918    3933.538462  3515.974490
2020  4187.566667  3615.968750   3594.852941    4532.090909  3603.911765